{% extends 'base/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1 style="text-align: center;">Тестирование</h1>
<p style="margin: 20px;">
    Наш сайт представляет собой инновационную платформу для проведения онлайн тестирования, предлагающую широкий спектр возможностей для проверки знаний и навыков пользователей. Мы предоставляем удобный интерфейс, который позволяет пользователям легко создавать, настраивать и проходить тесты по различным темам. Благодаря гибким настройкам, наша платформа подходит для широкого круга пользователей — от образовательных учреждений, провайдеров обучающих курсов до предприятий, желающих оценить навыки своих сотрудников.
</p>
<div style="text-align: center;">
    <img src="https://shkola2usinsk-r11.gosweb.gosuslugi.ru/netcat_files/48/188/123444.jpg" style="width: 50%; border-radius: 10%; border: solid 7px #222;" />
</div>
<p style="margin: 20px;">
    Мы предлагаем обширный каталог тестовых заданий и вопросов, а также возможность создания собственных тестов с уникальным контентом. Наша платформа обеспечивает надежное хранение результатов тестирования, а также генерацию детальных отчетов и статистики для анализа производительности и прогресса пользователей. Благодаря интуитивно понятному интерфейсу и мощным функциональным возможностям, наш сайт является надежным и эффективным инструментом для тестирования и оценки знаний.
</p>
{% endblock %}