body {
    background-color: grey;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #20B2AA;
}

.brand a,
.containerLink a {
    text-decoration: none;
    color: #000000;
}

.containerLink a {
    margin-left: 10px;
}

.containerLink {
    display: flex;
}


.brand a:hover,
.containerLink a:hover {
    color: #fff;
    transition: color 0.5s;
    transform: scale(1.1);
}